
// ------------------------------------------------------------------------------------
// Where the actions for each entry sit
// ------------------------------------------------------------------------------------

.actions {
	padding: 1rem .5rem;
}

.actions:after {
	display: table;
	clear: both;
	content: '';
}