// ------------------------------------------------------------------------------------
// Reset - applies globally, to the html and the body
// ------------------------------------------------------------------------------------


html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}


body {
	margin: 0;
	box-sizing: inherit;
	font-size: 1em;
	font-family: Helvetica, sans-serif
}
